@{
    ViewData["Title"] = "Home Page";
}

<div class="display"> <h1> Welcome To Our Event Booking App</h1> </div>
<br />
<br />
<br />
<div class="intro">
    <h3>
        <p>
            Your one-stop platform for discovering, booking, and managing events with ease.
        </p>
        <p>
            Whether you're planning a concert, seminar, wedding, or private event, our system helps you handle everything — from registration to seat management.
        </p>
        <p>
            Start exploring available events, register participants, and manage bookings all in one place.
        </p>
    </h3>
</div>
<br />
<br />
<br />
<br help/>

@* <div class="help"><p><strong>Need ?</strong> Visit the Help section or contact our support team <em> (bammy@gmail.com)</em></p></div>  *@